<div class="page-header">
    <h1>{{pokemon[0].name}}</h1>
    <ul class="pager">
        <li class="previous "><a [routerLink]="['/pokemons']">Voltar</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-3" >
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <a><img class="img-responsive" src="{{pokemon[0].image}}" alt=""></a>
            </div>
            <div class="card-footer white-color text-center">{{pokemon[0].name}}</div>
          </div>
    </div>
    <div class="col-md-9" >
        PokeInfo
        <div class="card text-white bg-dark mb-9" >
            <div class="card-body">
                <strong>height:</strong><p>{{pokemon[0].height}}</p>
                <strong>weight:</strong><p> {{pokemon[0].weight}}</p>
                <strong>base_experience:</strong><p>base_experience: {{pokemon[0].base_experience}}</p>
                <strong>description:</strong><p> {{pokemon[0].description}}</p>
                <strong>types: </strong><p>{{pokemon[0].types}}</p>            
            </div>
          </div>
    </div>
</div>